
  .headings{
    margin: 50px 0 60px 0;
    text-align: center;
  }

  h2{
    text-align:center ;
      padding: 30px;
      margin: 20px;
      margin-bottom: 50px;
  }

.boxesRow{
  height: 300px;
}

.firstDiv{
  background: red;
  border:3px solid #0000;
  margin: 25px;

}

.firstDivNew{
  background-color: teal;
  border:3px solid rgb(128, 0, 0);
}

.secondDiv{
  background: blue;
  border: 3px dashed yellow;
  margin:  25px;
}

.secondDivNew{
  background: orange;
  border: 3px dashed rgb(105, 173, 190);
}

.thirdDiv{
  background: limegreen;
  border: 3px solid purple;
  margin: 25px;
}

.thirdDivNew{
  background: rgb(255, 255, 255);
  border: 3px solid orangered
}

.changeAllColors{
  background: black;
  border: 10px dotted rgb(95, 160, 111);
}

.changeTitle{
  color: yellow;
  text-decoration: underline;
  font-weight: 100;
  font-style: italic;

}
body {
  text-align: center;
  color: chocolate
  font-weight 50px
  
  
}

.rowBtns span{
  background: #e5e5e5;
  margin-bottom:10px;
  padding: 5px 5px;
  border-spacing:0 15px;
}

.resetAllBtn {
  color: black;
  margin-bottom:50px;
  
}










